@font-face {
    font-family: f1;
    src: url(/fonts/e3t4euO8T-267oIAQAu6jDQyK3nbivNm4I81PZQ.woff2);
}
@font-face {
    font-family: f2;
    src: url(/fonts/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2);
}
@font-face {
    font-family: f3;
    src: url(/fonts/fa-solid-900.woff2);
}
@font-face {
    font-family: f4;
    src: url(/fonts/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    overflow-x: hidden;

   section.page1{
    height: 100vh;
    width: 100%;
    background: url(/media/bg.jpeg) no-repeat center center/cover;

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        // overflow: hidden;
        position: relative;

        .top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 1.5rem;
            z-index: 10;

            .home{
                position: relative;
                .m1{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow:
    1.5px 1.5px 0 #ff3c00,
                }
                .sh-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .sh-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }

            }
            .tl{
                position: relative;

                .m2{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow: 1.5px 1.5px 0 #ff3c00;
                }
                .st-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .st-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }
            }
            .guests{
                position: relative;
                .m3{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow: 1.5px 1.5px 0 #ff3c00;
                }
                .sg-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .sg-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }
            }
            .sponsors{
                position: relative;
                .m4{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow: 1.5px 1.5px 0 #ff3c00;
                }
                .ss-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .ss-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }
            }
            .faq{
                position: relative;
                .m5{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow: 1.5px 1.5px 0 #ff3c00;
                }
                .sf-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .sf-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }
            }
            .contact{
                position: relative;
                .m6{
                    width: 10rem;
                    height: 2.5rem;
                    object-fit: cover;   
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    font-family: f2;
                    text-shadow: 1.5px 1.5px 0 #ff3c00;
                }
                .sc-1{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    left: 1vw;
                }
                .sc-2{
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    top: -1.5rem;
                    object-fit: cover;
                    right: 1vw;
                }
            }
        }
        .lalten-container{
            position: absolute;
            top: 0rem;
            left: 1rem;

            img{
                width: 12%;
                animation: swing 3s ease-in-out infinite;
                transform-origin: 50% 0%;
            }
        }
    }
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -2rem;

            img{
              width: 60%;
            }
        }
        .center{
            width: 30rem;
            height: 10rem;
            margin-top: -10%;
            background: url(/media/timer.png);
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            gap: 1rem;
            border: 2px solid white;

            .text{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                color: black;

                h3{
                    font-family: f2;
                    text-shadow:1.5px 1.5px 0 #ff3c00;
                    color: white;
                    font-size: 1.5rem;
                }
                
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .elem{
                    height: 4rem;
                    width: 4.5rem;
                    background-color: rgba(255, 255, 255, 0.394);
                    backdrop-filter: blur(4px);
                    border: 2px solid white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: 4px;
                   font-family: f2;
                   font-size: 0.7rem;
                }
            }
            
        }
    }
   }
   section.page2{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 4rem;
        background: url(/media/bg-2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;

        .top{
            h1{
                font-size: 3rem;
                font-family: f2;
                text-shadow:1.5px 1.5px 0 #ff3c00;

            }
        }
        .center{
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
    
            .p1{
                width: 35%;
                margin-left: -40%;
                margin-top: -3%;
            }
            .p2{
                width: 35%;
                margin-right: -40%;
                margin-top: -4.5%;
            }
            .c{
                width: 55%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                z-index: 10;
                p{
                    width: 100%;
                    font-size: 1.5rem;
                    background-color: rgba(255, 255, 255, 0.312);
                    backdrop-filter: blur(4px);
                    padding: 3rem 2rem;
                    border-radius: 10px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }

         
        }
        .moving-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
            z-index: 5;
            animation: move 5s ease-in-out infinite;

            img{
                width: 80%;
                animation: move 5s ease-in-out infinite alternate;
              
            }

        }
   }
   section.state{
       width: 100%;
       padding: 1rem;
       position: relative;
       background: url(/media/i7.jpg) no-repeat bottom center/cover;
       display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;

       h2{
              font-family: f2;
             color: white;
              text-shadow: 1.5px 1.5px 0 #ff3c00;
              text-align: center;
              font-size: 2rem;
              background-color: rgba(255, 255, 255, 0.312);
              backdrop-filter: blur(4px);
              padding: 1rem 1.5rem;
                border-radius: 10px;
              text-align: center;
              width: fit-content;
       }
       .i2{
              position: absolute;
              width: 15rem;
              top: -9rem;
              right: 13rem;
              transform: rotate(90deg);
       }
       .state{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 4rem;

            .elem{
                width: 15rem;
                height: 7rem;
                background: url('/media/mail.png') no-repeat center center/cover;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s ease;
                cursor: pointer;

                &:hover{
                    transform: scale(1.05);
               
                }

                h3{
                    font-family: f2;
                    color: white;
                    text-shadow: 1.5px 1.5px 0 #000000;
                    text-align: center;
                    font-size: 1rem;
                    // background-color: rgba(255, 255, 255, 0.312);
                    backdrop-filter: blur(4px);
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    margin-top: 1rem;

                    span{
                        font-size: 0.8rem;
                    }
                }
            }
       }

   }
   section.page3{
    height: 130vh;
    width: 100%;
    background: url(/media/b3.png) no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1{
        font-family: f2;
        color: white;
        text-shadow: 1.5px 1.5px 0 #ff3c00;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        width: fit-content;
        margin: 2rem auto;
        z-index: 10;
        margin-top: 3rem;
    }
    p{
        font-family: f4;
        color: white;
        text-shadow: 1.5px 1.5px 0 #ff3c00;
        text-align: center;
        font-size: 2.5rem;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        z-index: 10;
    }
  


    .cover{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.766);
        z-index: 1;
    }
    .name-board{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 2.2rem;
        gap: 6rem;

        .b1{
            width: 20%;
            // margin-left: 10%;
            margin-top: 2rem;
            z-index: 10;
        }
        .b2{
            width: 20%;
            margin-left: 0.6%;
            margin-top: 2rem;
            z-index: 10;
        }
        .b3{
            width: 20%;
            margin-left: -1%;
            margin-top: 2rem;
            z-index: 10;
        }
        .b4{
            width: 20%;
            // margin-left: %;
            margin-top: 2rem;
            z-index: 10;
        }
    }
    .patri{
        width: 100%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 15rem;

        img{
            width: 7%;
        }

        .train1{
            position: absolute;
            top: -9vw;
            left: 2%;
            width: 20%;
            z-index:11;
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);;
            }
        }
        .train2{
            position: absolute;
            top: -9.5vw;
            left: 28%;
            width: 20%;
            z-index:11;
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover{    
                transform: scale(1.05);
            }   
        }
        .train3{
            position: absolute;
            top: -9vw;
            left: 53%;
            width: 20%;
            z-index:11;
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }

        }
        .train4{
            position: absolute;
            top: -9.5vw;
            left: 78%;
            width: 20%;
            z-index:11;
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
   }
}

@keyframes swing {
    0%   { transform: rotate(-12deg); }
    50%  { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes move {
    0%   { transform: translate(-50%, -50%) translateX(0); }
    50%  { transform: translate(-50%, -50%) translateX(200px); }
}


